body {background-color: hsl(217, 94%, 81%);}

.b-space-divider {
    width: 100%;
    height:3rem;
}
.btn-group button {
    background-color: #0f04aa; 
    border: 1px solid rgb(2, 8, 47), 104, 7;
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left; 
  }
  
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  
  
  .btn-group button:hover {
    background-color: rgb(22, 1, 78);
  }
  .b-space-divider {
    width: 100%;
    height:3rem;
}
table, th, td {
    border: 1px solid black;
  }
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(22, 1, 78);
   color: white;
   text-align: center;
}
